main {
  padding: 1.5rem;
  display: flex;
  justify-content: center;

  & > .container {
    flex: 1;
    max-width: $max-card-width;
  }
}

.page-title {
  font-size: 2rem;
  font-family: "Montserrat-Light";
  margin-bottom: 2rem;
}