input {
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 1px;
    position: relative;
    padding: 0.2em 0;

    &:focus::placeholder {
        color: transparent;
    }
}