input {
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 1px;
    position: relative;
    padding: 0.2em 0;

    &:focus::placeholder {
        color: transparent;
    }
}

textarea {
    width: 100%;
    height: 8rem;
    padding: 0.75rem 1.25rem;
    box-sizing: border-box;
    border: 1px solid $color-6;
    border-radius: 0.25rem;
    background-color: #eee;
    font-size: 1rem;
    font-family: "Montserrat-Medium";
    resize: none;
}

.error-msg {
    margin-top: 0.5rem;
}

.field_with_errors > input {
    border-color: $danger !important;
}