.posts-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.post-container {
  flex: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  > * {
    padding: 0.5rem 0;
  }
  
  padding: 1.5rem;
  box-sizing: border-box;

  background-color: white;
  box-shadow: $box-shadow-lt;
  border-radius: 0.5rem;

  .post-top {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .post-measures {
    border-top: 1px solid $color-6;
    border-bottom: 1px solid $color-6;
  }

  .actions a {
    color: $color-1;
    &:hover {
      border-bottom: 1px solid $color-1;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
  }
}