<div class="container">
  <div class="hdr-left">
    <div class="logo hdr-logo">
      Rails Facebook
    </div>
  </div>
  <div class="hdr-right">
    <% if Rails.env.development? %>
      <div id="debug-params">
        <%= debug(params) if Rails.env.development? %>
      </div>
    <% end %>
  </div>
</div>