<div class="container">
  <div class="hdr-left">
   
    <div class="logo hdr-logo">
      <%= link_to root_url do %>
        Rails Facebook
      <% end %>
    </div>
  </div>
  <div class="hdr-right">
    <%= link_to "Users", users_path %>
  </div>
</div>